*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body{
    background-color: rgba(239, 245, 255, 0.945);
}
.bg-box_1 img{
    width: 250px;
    height: auto;
}
p{  
    margin-top: 20px;
    font-size: 1.7rem;
}
.bg-box_1{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 260px;
    top: 210px;
}
.bg-box_2{
    width: 400px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 290px;
    top: 130px;
    padding: 15px 15px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.148);
    border-radius: 7px;
}
.last a{
    font-weight: bold;
        color: black;
}
.last{
    font-size: 0.9rem;
    position: absolute;
    right: 340px;
    bottom: 230px;
}
.last a:hover{
    text-decoration: underline rgba(61, 61, 61, 0.68);
}
input[type="email,tel"]{
    font-size: 1.1rem;
    width: 370px;
    padding: 15px 10px;
    border-radius: 3px;
    border-color:   rgba(0, 0, 0, 0.091);
    border-radius: 6px;
    outline-color: rgb(104, 172, 255);
}
input::placeholder{
    font-size: 1rem;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
input[type="password"]{
    font-size: 1.1rem;
    width: 370px;
    margin-top: 10px;
    padding: 15px 10px;
    border-radius: 6px;
    border-color:  rgba(0, 0, 0, 0.091);
    border-radius: 9px;
    outline-color: rgb(104, 172, 255);
}
.login{
    width: 370px;
    margin-top: 20px;
    background-color: rgb(1, 101, 225);
    padding: 13px 13px;
    font-weight: bold;
    font-size: 1.3rem;
    color: aliceblue;
    border-color: rgb(1, 101, 225);
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.forget-link a{
    position: absolute;
    bottom: 110px;
    left: 145px;
    color: rgb(1, 101, 225);
    font-size: 0.9rem;
}
.forget-link a:hover{
    text-decoration: underline rgb(1, 101, 225);
}
.createacc {
    width: 190px;
    height: 50px;
    background-color: rgb(42, 185, 42);
    padding: 12px 5px;
    border: none;
    border-radius: 5px;
    border-color: rgb(42, 185, 42);
    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    left: 110px;
    bottom: 20px;
    cursor: pointer;
}
.createacc a{
    color: aliceblue;
}
hr{
    margin-top: 55px;
}
@media (max-width:500px)
{
.bg-box_1{
    position: absolute;
    left: 120px;
    top: 50px;
    width: 100px;
}
.bg-box_1 p{
    width: 300px;
    font-size: 1.3rem;
}
.bg-box_2{
    position: absolute;
    top: 230px;
    left: 50px;
}
.last{
    font-size: 0.8rem;
    width: 200px;
}
}